[project]
	description = Only download kernel, build
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/KangDroid
[access "refs/for/refs/*"]
	read = group user/KangDroid
	push = group user/KangDroid
	label-Code-Review = -2..+2 group user/KangDroid
	label-Verified = -1..+1 group user/KangDroid
	rebase = group user/KangDroid
	removeReviewer = group user/KangDroid
	submit = group user/KangDroid
[access "refs/heads/*"]
	read = group user/KangDroid
	create = group user/KangDroid
	push = +force group user/KangDroid
	pushMerge = group user/KangDroid
[access "refs/tags/*"]
	push = +force group user/KangDroid
	pushTag = group user/KangDroid
	pushSignedTag = group user/KangDroid
